.hidden {
  display: none;
}

.order {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2)), url('../../Images/background12.jpg');
  background-size: cover;
  background-position: bottom;
}

#buttons {
  width: 100vw;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn {
  padding: 0;
  margin: 0;
  width: 49vw;
  height: 4rem;
  background: #f4d7a2;
  border: none;
  outline: none;
}

.btn:hover {
  background: #e2f4fb;
}

.btn:active {
  background: lightblue;
  color: white;
}

.menuButtons:hover {
  background-color: darkgrey;
}

.menuButtons:active {
  background-color: burlywood;
}

#tabContent {
  width: 100%;
  height: 100%;
}

.item-pane {
  width: 100%;
  height: 100%;
}

.item-table {
  width: 100%;
  height: 100%;
}

.coffeeImg {
  width: 20%;
  height: auto;
  border-radius: 50%;
}