.hidden {
  display: none;
}
.order {
  margin: 0 auto;
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#coffees,
#pastry {
  width: 45vw;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.menuButtons {
  width: 100vw;
  cursor: pointer;
  border: none;
  outline: none;
}

.menuButtons:hover {
  background-color: darkgrey;
}

.menuButtons:active {
  background-color: red;
}

#tabContent {
  color: red;
}

#firstPane {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.coffeeImg {
  width: 20%;
  height: auto;
  border-radius: 50%;
}
