.homepage {
    font-family: sans-serif;
    background-image: url('../../Images/background1.jpg');
    background-size: cover;
    background-position: bottom;
    height: 90vh;
    width: 100%;
    opacity: 0.8;
}