.mainShop {
    font-family: sans-serif;
    background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2)), url('../../Images/background12.jpg');
    background-size: cover;
    background-position: center;
    /* height: 90vh; */
    width: 100%;
    opacity: 0.8;
}

.shop1, .shop2 {
    width: 50vh;
    height: 50vh;
    display: flex;
    background-size: cover;
    background-position: center;
}

.map1 img, .map2 img {
    margin: 0 auto;
    height: 50vh;
    width: 50vh;
}