.accountInfo {
    max-width: 80vw;
    margin: 0 auto;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2)), url('../../Images/background12.jpg');
}

.personaldetails {
    background: rgba(208, 214, 207, 0.5);
    margin: 0.5rem;
    width: 80vw;
    flex: display;
    justify-content: center;
}

.history {
    background: rgba(208, 214, 207, 0.5);
    margin: 0.5rem;
    width: 80vw;
    flex: display;
    justify-content: center;
}