.accountInfo {
    margin: 0 auto;
    min-height: 60vh;
    height: auto;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url('../../Images/background12.jpg');
}

.history {
    background: rgba(208, 214, 207, 0.5);
    margin: 0.5rem;
}

.highlight {
    font-weight: 700;
    color: rgb(10, 175, 10);
}