.socials {
    justify-content: space-around;
    color: white;
    background-color: black;
}

.instatile {
    width: 50px;
    height: 50px;
}

footer {
    height: 50vh;
    background: rgba(164, 177, 203, 1);
    font-family: 'Pontano Sans', sans-serif;
}

.instagram,
.tile2,
.tile3 {
    height: 18vh;
    width: 18vh;
    justify-content: right;
}