.socials {
    justify-content: space-around;
    color: white;
    background-color: black;
}

.instatile {
    width: 50px;
    height: 50px;
}

footer {
    /* height: 50vh; */
    background: rgba(164, 177, 203, 1);
    font-family: 'Pontano Sans', sans-serif;
}

.instagram,
.tile2,
.tile3 {
    height: 15vh;
    width: 15vh;
    /* justify-content: right; */
}

@media screen and (max-width: 1107px) {
    .openingHours p,
    .locationInfo p {
        font-size: 1rem;
    }
    .stylefooter img {
        height: 14vh;
        width: 14vh;
    }
}

@media screen and (max-width: 976px) {
    .locationInfo,
    .openingHours {
        width: 45vw !important;
        text-align: center;
    }
    .stylefooter {
        width: 100vw !important;
        margin: 0 auto;
        text-align: center;
    }
    .images {
        justify-content: center;
    }
    footer {
        align-items: center;
    }
}