.socials {
    justify-content: space-around;
    color: white;
    background-color: black;
}

.instatile {
    width: 50px;
    height: 50px;
}

.footerstyle {
    background: #637aa6;
    opacity: 0.2;
}

footer {
    height: 50vh;
    background: rgba(164, 177, 203, 1);
    /* opacity: 0.5; */
}

.instagram {
    height: 40vh;
    width: 40vh;
    justify-content: right;
}