.login {
    font-family: sans-serif;
    background: linear-gradient( rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../../Images/background13.jpg');
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    width: 100%;
    opacity: 0.8;
}

.submit {
    border: 1px solid black;
    border-radius: 1rem;
    transition: 400ms;
    outline: none;
}

.submit:hover {
    background: grey;
    color: white;
    transition: 300ms;
}

.submit:active {
    background: black;
    transition: 100ms;
}

input[type="password"],
input[type="email"] {
    height: 3rem;
    outline: none;
}

input[type="password"]:focus,
input[type="email"]:focus {
    border: 2px solid burlywood;
}